- model_class = @video.class
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:title) + ':'
  = @video.title

%p
  = raw yt_client.my_video(@video.yt_video_id).embed_html

%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @video.description

%p
  %strong Url
  %br
  %a{:href => "http://www.youtube.com/watch?v=#{@video.yt_video_id}&feature=youtube_it", :target => "_blank"}
    http://www.youtube.com/watch?v=#{@video.yt_video_id}


.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), videos_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_video_path(@video), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), video_path(@video), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
